<header id="header">
    <a href="index" class="logo icon fa-home" aria-label="Home"></a>
</header>
<nav id="nav">
    <ul class="links">
        <li data-page="index"><a href="index#about-me">About</a></li>
        <li data-page="experience"><a href="experience">Work</a></li>
        <li data-page="skills"><a href="skills">Skills</a></li>
        <li data-page="personal"><a href="personal">Personal</a></li>
        <li data-page="travel"><a href="travel">Travel</a></li>
    </ul>
    <ul class="icons">
        <li><a href="mailto:nicholaswan@live.com.sg" class="icon fa fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="https://github.com/nicholas-wan" target="_blank" rel="noopener noreferrer" class="icon fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/nicholas-wan/" target="_blank" rel="noopener noreferrer" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>
</nav>
