.rating {
	float: right;
	font-size: 18px;
	color: #337ab7;
}
.skill p{
	font-size:19px;
}
#nus, #njc{
	width:100%;
}
#aboutblock p{
	margin:0;
	font-size:16px !important;
}
.cv{
	margin-bottom:60px;
}
.workbutton{
	margin-bottom:20px;
}
.navrow{
	padding-left:0;
}

#more {display: none;}
@media only screen and (max-width: 600px) {
	.zera{
		margin-top:-40px;
		margin-bottom:-40px;
	}
	.image.main{
		width:100% !important;
	}
	.blank{
		display:none;
	}
	.aboutblock{
		text-align:justify !important;
	}
	.rowpad{
		padding-left:0 !important;
	}
}

@media screen and (min-width: 800px) {
    .fa-arrow-up{
			color:black !important;
		}
		.rowpad{
					padding: 4rem 4rem 2rem 3rem;
		}
}



/* --------------------------------------------------------------------------- */

.skillstable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom:50px;
		table-layout: fixed;
}

.skillstable td,.skillstable th {
    border: 1px solid #ddd;
    padding: 8px;
    overflow-wrap:break-word;
		vertical-align: middle;
		text-align: center;
		line-height:160%;
}

.odd:hover {background-color: #ddd !important;}
.even:hover {background-color: #ddd !important;}

.skillstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: cadetblue;
    color: white;
}
.odd{
	background-color:white !important;
}
.even{
	background-color:#f2f2f2 !important;
}
.caticon{
	font-size:25px;
}
.fa-star{
	color:navy;
}
.skillrow{
	margin-right:-1.5em;
}
